//
// Standard fonts
// --------------------------------------------------

%icon-font {
	font-family: 'icomoon';
}

@mixin font-bold {
	font-family: "Nitti Grotesk Bold", sans-serif;
}

@mixin font-normal {
	font-family: "Nitti Grotesk Regular", sans-serif;
}

@mixin font-light {
	font-family: "Nitti Grotesk Light", sans-serif;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?270j4u');
	src:url('../fonts/icomoon.eot?#iefix270j4u') format('embedded-opentype'),
		url('../fonts/icomoon.woff?270j4u') format('woff'),
		url('../fonts/icomoon.ttf?270j4u') format('truetype'),
		url('../fonts/icomoon.svg?270j4u#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	speak: none;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

@font-face {
    font-family: 'Nitti Grotesk Bold';
    src: url('../fonts/nittigrotesk-bold-v20-webfont.eot');
    src: url('../fonts/nittigrotesk-bold-v20-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nittigrotesk-bold-v20-webfont.woff2') format('woff2'),
         url('../fonts/nittigrotesk-bold-v20-webfont.woff') format('woff'),
         url('../fonts/nittigrotesk-bold-v20-webfont.ttf') format('truetype'),
         url('../fonts/nittigrotesk-bold-v20-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nitti Grotesk Regular';
    src: url('../fonts/nittigrotesk-normal-v20-webfont.eot');
    src: url('../fonts/nittigrotesk-normal-v20-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nittigrotesk-normal-v20-webfont.woff2') format('woff2'),
         url('../fonts/nittigrotesk-normal-v20-webfont.woff') format('woff'),
         url('../fonts/nittigrotesk-normal-v20-webfont.ttf') format('truetype'),
         url('../fonts/nittigrotesk-normal-v20-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nitti Grotesk Light';
    src: url('../fonts/nittigrotesk-light-v20-webfont.eot');
    src: url('../fonts/nittigrotesk-light-v20-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nittigrotesk-light-v20-webfont.woff2') format('woff2'),
         url('../fonts/nittigrotesk-light-v20-webfont.woff') format('woff'),
         url('../fonts/nittigrotesk-light-v20-webfont.ttf') format('truetype'),
         url('../fonts/nittigrotesk-light-v20-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
