    //
    // Define the grid column sizes
    // --------------------------------------------------

    $project-column-sizes: (
        'full'			:		'100%',
        'two-third'		:		'66.6666667%',
        'half'			:		'50%',
        'third'			:		'33.3333332%',
        'fourth'	    :		'25%',
        'fifth'			:		'20%',
        'sixth'			:		'16.6666667%',
    );

    // Spacing between the columns (left and right)
    $_bruut-GridPack-column-spacing: 				8px;

    // Spacing between the viewport and start of the wrapper
    // This value has to be more than or equal to the value in
    // $_bruut-GridPack-column-spacing
    $_bruut-GridPack-viewport-spacing: 				16px;

    // Set the breakpoint (as set in $_bruut--breakpoints-map) value
    // to set all columns to 100% width
    $_bruut-GridPack-float-breakpoint: 				mobile;

    // If true, the wrapper will only have 1 max-width: the
    // base width defined in $_bruut-GridPack-wrapper-widths
    // If false, the wrapper adds widths for the breakpoints
    // defined in $_bruut--breakpoints-map and added to
    // $_bruut-GridPack-wrapper-widths as a key.
    $_bruut-GridPack-fluid: 						false;

    // Define the wrapper widths on breakpoints. Set a breakpoint
    // name, defined in $_bruut--breakpoints-map as key and
    // a max-width. The max-width of the wrapper will be this width
    // plus 2 times the value in $_bruut-GridPack-viewport-spacing.
    // So: (800px * (2 * 16px)) = max-width: 832px.
    $_bruut-GridPack-wrapper-widths: (
        base:               1367px,
        desktop-large:      1168px,
        desktop-small:      991px,
        tablet:             736px,
    );

    // Naming the different HTML selectors
    $_bruut-GridPack-name-for-wrapper: 				'grid';
    $_bruut-GridPack-name-for-row: 					'row';
    $_bruut-GridPack-name-for-column: 				'column';

    // Use numbered (e.g. span-1-of-X) columns?
    $_bruut-GridPack-use-numbered-columns: 			false;
    $_bruut-GridPack-numbered-columns-count: 		12;
    $_bruut-GridPack-numbered-column-name: 			'span';

	// Flex options
	$_bruut-GridPack-name-for-flex-row: 			'row-flex' !default;
	$_bruut-GridPack-name-for-flex-column: 			'column-flex' !default;
	$_bruut-GridPack-name-for-flex-grow-addition: 	'grow' !default;
	$_bruut-GridPack-name-for-flex-auto-addition: 	'auto' !default;

    // Output options
    $_bruut-GridPack-output-css: 					true;
    $_bruut-GridPack-output-column-extras: 			false;
