
// Connect the global $_bruut variables to the $project-variables

// Output helpers
// Check
// --------------------------------------------------

	// Output show-, hide- classes on breakpoints
	// Will add (8 * items in your $project-breakpoints + 2) selectors to the css file
	$_bruut--output-show-hide-classes:          false;

	// Output text alignment classes on breakpoints
	// Will add (3 * items in your $project-breakpoints Sass Map + 1) selectors to the css file
	$_bruut--output-text-alignment-classes:     false;

	// Output float left|reset|right classes on breakpoints
	// Will add (3 * items in your $project-breakpoints Sass Map) selectors to the css file
	$_bruut--output-float-classes:              false;

	// Output .color-$color, .background-$color and .border-$color colors
	// Will add (3 * items in your $project-colors Sass Map) selectors to the css file
	$_bruut--output-color-classes:              true;

	// Output whitespace helpers (.ml-1 .py-2)
	$_bruut--output-whitespace-classes:         false;

//	Breakpoints map
//	Assign a breakpoints map variable to work with GridPack in CoreKit
// --------------------------------------------------
	$_bruut--breakpoints-map: 			$project-breakpoints;


//	Icons map
//	Assign a icons map variable to work with the icon generator in CoreKit
// --------------------------------------------------
	$_bruut--icon-map: 					$project-icons;


//	Column sizes map
//	Assign a column sizes map variable to work with GridPack in CoreKit
// --------------------------------------------------
	$_bruut--column-sizes-map: 			$project-column-sizes;


//	Color helpers map
//	Assign a color map variable to work with color helpers in CoreKit
// --------------------------------------------------
	$_bruut--colors-map: 				$project-colors;


//	Z-index map
//	Assign a z-index variable to use the z-index() function from CoreKit
// --------------------------------------------------
	$_bruut--z-index-map: 				$project-z-index;


//	States map
//	Assign a states map variable to use the different states classes from FormKit
// --------------------------------------------------
	$_bruut--states-map: 				$project-states;
