//
//	Responsive type variables
//	Set a list name and start with the base (= desktop size) and add breakpoints from the $breakpoints Sass map
// --------------------------------------------------

$font: (

	huge: (

		base: (
			font-size: 112px
		),

		desktop-large: (
			font-size: (112px / 100 * 80)
		),

		desktop-small: (
			font-size: (112px / 100 * 60)
		),

		small: (
			font-size: (112px / 100 * 40)
		),

		mobile: (
			font-size: (112px / 100 * 30)
		)
	),

	xl: (
		base: (
			font-size: 72px
		),

		desktop-large: (
			font-size: (72px / 100 * 80)
		),

		desktop-small: (
			font-size: (72px / 100 * 60)
		),

		small: (
			font-size: (72px / 100 * 40)
		),

		mobile: (
			font-size: (72px / 100 * 30)
		)
	),

	l: (
		base: (
			font-size: 48px
		),

		desktop-large: (
			font-size: (48px / 100 * 80)
		),

		desktop-small: (
			font-size: (48px / 100 * 60)
		),

		small: (
			font-size: (48px / 100 * 40)
		),

		mobile: (
			font-size: (48px / 100 * 30)
		)
	),

	m: (
	 	base: (
			font-size: 36px
		),

		desktop-large: (
			font-size: (36px / 100 * 80)
		),

		desktop-small: (
			font-size: (36px / 100 * 60)
		),

		small: (
			font-size: (36px / 100 * 50)
		),
		//
		// mobile: (
		// 	font-size: (36px / 100 * 30)
		// )
	),

	text-input: (
		base: (
			font-size: 16px,
		)
	),

	heading-xl: (
		base: (
			font-size: 35px,
			line-height: 1.01
		)
	),

	heading-page-entry: (
		base: (
			font-size: 20px,
			line-height: 1.2
		)
	),

	heading-l: (
		base: (
			font-size: 25px,
			line-height: 1.2
		)
	),

	standard-text: (
		base: (
			font-size: 15px,
			line-height: 1.5
		)
	),
);
