//
// Project colors.
// --------------------------------------------------

	$project-colors: (
		dark:			#000,
		onstuimig: 		#f80f48,
		contrast:		#fff,
	);

//
//	Output .c-color, .bg-color and .border-color
//	for each color in the $project-colors?
// --------------------------------------------------

	$output-color-helpers-to-css:	true;

//
//	Border radius variables
// --------------------------------------------------

	$base-border-radius:			4px;

//
//	Base spacing
// --------------------------------------------------

	$base-spacing:					16px;

//
//	Transition variables
// --------------------------------------------------

	$base-transition:				all 0.2s ease-in-out;

//
// Turn on or off legacy browser support
// --------------------------------------------------

	$legacy-browser-support:		false;

//
// Project states
// --------------------------------------------------

	$project-states: (
		has-error:			error,
		is-ok:				success,
		has-warning:		warning,
		has-notification:	info
	);


//
// Colors in the project.
// --------------------------------------------------

	$base-font-size:				16px;
	$base-line-height:				1.618;
