$color-onstuimig: #FF0044 !default;
$sg-bg-light: darken(#f7f7f7, 2%) !default; //#E6E6E6;
$sg-spacing: $base-spacing;

.bruut-styleguide {
	background: #F7F7F7;
	background: #fff;
	font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

	p, ul {
		font-size: 18px;
		line-height: 1.5;
	}
}

p.bruut-src {
	font-size: 14px;
	margin: 0 0 $sg-spacing;

	&:before {
		content: "You can find this here:  ";
		color: #888;
		margin-right: 4px;
	}
}

.bruut-header {
	padding: $sg-spacing * 2 0 $sg-spacing;
}

.bruut-onstuimig-logo {
	margin: 0 auto $sg-spacing * 2;
	display: block;
	max-width: 100%;
	height: auto;
}

.bruut-header-meta {
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 12px;
	font-weight: 300;
	margin-bottom: $sg-spacing;

	li {
		@include inline-block();
	}
}

.bruut-header-title {
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: .13em;
	margin-bottom: $sg-spacing / 1.5;
	display: block;
}

.bruut-section {
	background: $sg-bg-light;
	padding: $sg-spacing * 3;
	margin: $sg-spacing * 1.5 0;
	font-size: 0;
}

.bruut-section-nav {
	margin: $sg-spacing * 3 0 $sg-spacing * 2;
	padding: 0;
	list-style: none;
	text-align: center;

	li {
		@include inline-block();
		text-transform: uppercase;
		letter-spacing: .08em;
		font-size: 14px;
		font-weight: 600;
		color: $color-onstuimig;
	}

	a:hover {
		color: #000;
	}

	li:not(:last-of-type) {
		margin-right: $sg-spacing * 1.5;
	}
}

.bruut-section__text {
	width: 50%;
	text-align: left;
	padding: 0 $sg-spacing * 1.5;
	margin: 0;
	font-size: 18px;
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
	font-weight: 300;
	border-left: 1px solid #E6E6E6;

	p {
		margin: 0 0 $sg-spacing;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.bruut-section__title {
	font-size: 50px;
	width: 50%;
	letter-spacing: .11em;
	display: inline-block;
	vertical-align: middle;
	font-weight: 300;
	text-transform: uppercase;
	text-align: right;
	line-height: 1.2;
	padding-right: $sg-spacing;
}

.bruut-title {
	margin: $sg-spacing * 2 0 $sg-spacing;
	font-size: 32px;
	padding: $sg-spacing;
	display: inline-block;
	padding-left: 16px;
	position: relative;
	border-left: 2px solid darken(#f5f5f5, 10%);
}

.bruut-tag {
	@include inline-block;
	padding: 2px 5px;
	margin-right: 8px;
	background: $color-onstuimig;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 4px;
	letter-spacing: 0;
	vertical-align: middle;
}

.bruut-title--small {
	@extend .bruut-title;
	font-size: 24px;
	margin: $sg-spacing * 1.5 0 $sg-spacing / 2;
	padding: $sg-spacing / 2 $sg-spacing;
}

.bruut-tip-box {
	background: #E6E6E6;
	padding: 12px 16px;
	display: inline-block;
	margin: 16px 0;
	font-size: 14px;
	font-weight: 400;
}

.BRUUTST--wrapper {
	margin-bottom: 150px;

	.grid {
		@include is-wrapper(800px);
	}

	p, ul {
		line-height: 1.55;
	}

	p > code {
		border-bottom: 1px solid #aaa;
	}
}

.BRUUTST--header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 100;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);

	@include breakpoint(small) {
		text-align: center;
	}
}

.BRUUTST--header-faux {
	display: block;
	height: 35px;
}

.BRUUTST--onstuimig-logo {
	@include inline-block;
	vertical-align: middle;
	margin-right: 30px;

	@include breakpoint(small) {
		margin-right: 0;
		max-width: 80px;
	}
}

.BRUUTST--header-title {
	@include inline-block;
	vertical-align: middle;
	font-size: 35px;
	font-weight: 300;

	.project-name {
		font-weight: 600;
	}

	@include breakpoint(small) {
		font-size: 14px;
		display: block;
	}
}

.BRUUTST--class {
	font-size: 14px;
	font-weight: normal;
}

.BRUUTST--page-section__header {
	background: $color-onstuimig;
	padding: 0 0 20px;
	margin: 40px 0;
	position: relative;
	background: #E6E6E6;

	&:after {
		position: absolute;
		bottom: -16px;
		z-index: 10;
		left: 50%;
		margin-left: -16px;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 16px 16px 0 16px;
		border-color: $color-onstuimig transparent transparent transparent;
	}

	p {
		font-size: 20px;
		line-height: 1.6;

		@include breakpoint(small) {
			font-size: 16px;
			line-height: 1.5;
		}
	}

	.BRUUTST--tag {
		background: #fff;
		color: $color-onstuimig;
	}

	.BRUUTST--page-section__title {
		color: #fff;
	}

	p, code {
		color: #fff;
	}

	p > code {
		border-bottom: 1px solid #fff;
	}
}

.BRUUTST--header {
	background: #fff;
	padding: 16px 0 8px;

	a {
		display: inline-block;
		margin: 0 auto 8px;
	}

	.BRUUTST--project-meta {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 12px;

		li {
			display: inline-block;
		}
	}
}

.BRUUTST--intro {
	font-size: 24px;
	line-height: 1.5;
	font-style: italic;
	padding: 0 20%;

	@include breakpoint(small) {
		font-size: 18px;
		padding: 0;
	}
}

.BRUUTST--page-section__title {
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -2px;
	display: block;
	margin-bottom: 5px;
	margin-top: 50px;
	padding-bottom: 5px;

	@include breakpoint(small) {
		font-size: 28px;
	}

	& + p {
		margin-top: 0;
		margin-bottom: 25px;
	}

	/* &:first-of-type {
		margin-top: 0;
	} */
}

.BRUUTST--column-filler {
	display: block;
	padding: 8px 16px;
	background: #ddd;
	text-align: center;
	margin-bottom: 8px;
	margin-top: 8px;
}

.BRUUTST--table {
	border: 1px solid #ccc;

	@include breakpoint(small) {
		font-size: 14px;
	}

	tr:first-of-type td {
		background: #000;
		color: #fff;
		text-align: center;
	}

	td {
		padding: $sg-spacing;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
}

.BRUUTST--color-list {
	margin: 0;
	padding: 0;
	list-style: none;
	@include is-flex-row();

	span {
		display: block;
		width: 100%;
		padding-bottom: 100%;
		border-width: 1px;
		border-style: solid;
	}

	li {
		@include is-flex-column(16.6666667%);

		@include breakpoint(small) {
			@include is-flex-column(33.33332%);
		}
	}
}

.BRUUTST--title--small {
	@extend .BRUUTST--page-section__title;
	font-size: 26px;
	letter-spacing: 0;
	margin-top: 35px;
	text-align: center;
	display: inline-block;
	font-weight: 400;
	text-align: left;
}

code.BRUUTST--code-example {
	padding: 8px 15px;
	margin-top: 5px;
	border: 1px solid #ddd;
	color: #34495e;
	margin-bottom: 45px;
	font-size: 14px;
	position: relative;
	display: inline-block;
	margin-top: 15px;
}
