//
// Button resetter (for use with <button>)
// --------------------------------------------------

%button-reset {
	border: 0;
	box-shadow: none;
	outline: none;
	-webkit-font-smoothing: antialiased;
	appearance: none;
	border-radius: none;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	text-decoration: none;
	user-select: none;
	vertical-align: middle;
	border: 1px solid transparent;
	padding-left: 0;
	padding-right: 0;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

//
// Button extender (for use with <button>)
// --------------------------------------------------

%button {
	@extend %button-reset;
	@include inline-block;

	html body &:hover {
		text-decoration: none;
	}
}

.button-reset, .button {
	@extend %button;
}

.button-holder {
	@include clearfix;
	padding: $base-spacing * 2 0 0;
}

.big-button {
	@extend %button;
	@include font(l);
	@include font-bold;
	line-height: 1;
	transition: $base-transition;
	border-width: 4px;
	border-style: solid;
	border-style: 6px;
	border-radius: 8px;
	padding: $base-spacing * 1.5 $base-spacing * 2;

	@include breakpoint(small) {
		padding: $base-spacing $base-spacing * 1.5;
		font-size: 16px;
		border-width: 2px;
	}

	&.contrast {
		background: c(contrast);
		color: c(onstuimig);
		border-color: c(onstuimig);

		&:hover {
			background: c(onstuimig);
			color: c(contrast);
		}
	}
}