.grid.grid--spacy {
	max-width: (1367px + 2 * 50px);
	padding-left: 50px;
	padding-right: 50px;

	@include breakpoint(desktop-large) {
		max-width: (map-get($_bruut-GridPack-wrapper-widths, desktop-large) + 2 * $_bruut-GridPack-viewport-spacing );
		padding-left: $_bruut-GridPack-viewport-spacing;
		padding-right: $_bruut-GridPack-viewport-spacing;
	}

	@include breakpoint(desktop-small) {
		max-width: (map-get($_bruut-GridPack-wrapper-widths, desktop-small) + 2 * $_bruut-GridPack-viewport-spacing );
	}

	@include breakpoint(tablet) {
		max-width: (map-get($_bruut-GridPack-wrapper-widths, tablet) + 2 * $_bruut-GridPack-viewport-spacing );
	}

	.row {
		margin-left: -49px;
		margin-right: -49px;

		@include breakpoint(desktop-large) {
			margin-left: -$_bruut-GridPack-column-spacing * 2;
			margin-right: -$_bruut-GridPack-column-spacing * 2;
		}

		.column {
			padding-left: 49px;
			padding-right: 49px;

			@include breakpoint(desktop-large) {
				padding-left: $_bruut-GridPack-column-spacing * 2;
				padding-right: $_bruut-GridPack-column-spacing * 2;
			}
		}
	}
}
