.footer-links {
	margin: $base-spacing * 1.5 0;
	padding: 0;
	list-style: none;
	column-count: 3;
	text-align: center;
	column-gap: 100px;
	@include font(m);

	@include breakpoint(small) {
		column-count: 1;
	}

	li {
		padding: round($base-spacing / 1.5) 0;
		break-inside: avoid;
	}
}

.footer-links__logo {
	width: 100%;
	max-width: 180px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: $base-spacing * 2;

	@include breakpoint(desktop-huge) {
		max-width: 140px;
	}
}