.global-navigation__logo {
	width: 100%;
	max-width: 180px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	pointer-events: all;

	@include breakpoint(desktop-huge) {
		max-width: 140px;
	}
}

.global-navigation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: $base-spacing * 2 $base-spacing;
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	z-index: 30;
	pointer-events: none;

	@include breakpoint(tablet) {
		padding: $base-spacing;
	}
}
