body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	@include font-normal;
}

main.site-content {
	flex: 1;
}

a {
	text-decoration: none;
}

.svg-icon {
	display: inline-block;
	width: $base-spacing;
	height: $base-spacing;
	fill: currentColor;
}

.icon-xl {
	width: $base-spacing * 8;
	height: $base-spacing * 8;

	@include breakpoint(desktop-large) {
		width: $base-spacing * 6;
		height: $base-spacing * 6;
	}

	@include breakpoint(desktop-small) {
		width: $base-spacing * 4;
		height: $base-spacing * 4;
	}

	@include breakpoint(small) {
		width: $base-spacing * 2;
		height: $base-spacing * 2;
	}
}
