//
// Apply general input styling
// --------------------------------------------------

// Wrap elements in this
.form-element {
	margin-bottom: ($base-spacing * 2);
}

//
// Loop trough the $form-states and generate styling.
// Usage: the key is the class given to the .form-element parent
// The value is the neme of the color key in the project colors map (configuration/_variables.scss)
// --------------------------------------------------

@each $state, $color in $_bruut--states-map {

	.form-element.#{$state} {

		.input {
			// border-color: c($color);
			// color: c($color);
		}
	}
}

//
// Input title. Can be a label, header or <span>
// --------------------------------------------------

.input-title {
	display: block;
	margin: 5px 0 15px;
	font-size: 20px;
	font-weight: 400;
}

//
// Reset input styling
// --------------------------------------------------

.input-reset {
	@include rem(font-size, 1.6rem);
	transition: $base-transition;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	box-shadow: none;
	border-radius: none;
	border: 0;
}

//
// Don't show the clear 'x' on MS devices
// --------------------------------------------------

input[type="text"]::ms-clear {
	display: none;
}

//
// Don't show the 'expand' MS devices
// --------------------------------------------------

select::ms-expand {
	display: none;
}

//
// Resize only vertical on textareas
//--------------------------------------------------

textarea {
	resize: vertical;
}

//
// Apply general input styling to inputs (text, email etc)
// --------------------------------------------------

.form-element .input {
	@include inline-block;
	@extend .input-reset;

	// Styling
	@include placeholder {
		color: #000;
		line-height: normal;
		vertical-align: middle;
		display: inline-block;
	}

	border-width: 1px;
	border-style: solid;
	padding: $base-spacing / 2 $base-spacing;
	@include font(text-input);
	color: #000;
	background-color: #fff;
	width: 100%;
	border-color: #000;
}

//
// Style the input[type="radio"] & input[type="checkbox"]
// --------------------------------------------------

.form-element {

	.radio,
	.checkbox {
		@include visually-hidden;

		& + label {
			position: relative;
			display: inline-block;
			line-height: 1;
			width: auto;
			margin-bottom: 15px;
			padding-right: $base-spacing;
		}
	}

	.checkbox + label,
	.radio + label {
		padding-left: 35px;
	}

	.checkbox + label:before {
		position: absolute;
		content: "";

		// Styling
		width: 20px;
		height: 20px;
		border: 1px solid c(border);
		display: block;
		left: 0;
		top: 50%;
		margin-top: -10px;
	}

	.checkbox:checked + label:before {
		background: c(success);
	}

	.radio + label:before {
		position: absolute;
		content: "";

		// Styling
		width: 20px;
		height: 20px;
		border: 1px solid c(border);
		display: block;
		left: 0;
		top: 50%;
		margin-top: -10px;
		border-radius: 50%;
	}

	.radio:checked + label:before {
		background: c(success);
	}
}

.custom-select {
	@include inline-block;
	position: relative;
	width: 100%;
	vertical-align: middle;

	.select-text {
		@include rem(font-size, 16px);
		display: block;
		overflow: hidden;
		width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:after {
		position: absolute;
		top: -1px;
		right: 0;
		display: block;
		width: 24px;
		height: 36px;
		border-left: none;
		content: '▾';
		transition: all .1s ease-out;
		pointer-events: none;
	}

	// Don't touch this! *MC HAMMER* :)
	select {
		@include rem(font-size, 16px);
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		margin: 0;
		width: 100%;
		height: 100%;
		outline: none;
		border: none;
		background: rgba(0,0,0,0);
		line-height: 100%;
		opacity: 0;
		cursor: pointer;
		appearance: none;

		&:focus {
			background: #fff !important;
			color: #000 !important;
			font-size: 16px !important;
			line-height: 1.6 !important;

			option {
				line-height: 1.8;
			}
		}
     }
}

.custom-select {
	margin-bottom: 12px;
	padding: 1px 40px 0 .8em;
	border: 1px solid c(border);
	border-radius: 5px;
	background-color: #fff;
	color: #000;
	line-height: 36px;

	&:after {
		color: c(border);
	}
}

.form-element .input-note {
	visibility: hidden;
	opacity: 0;
	transition: $base-transition;
	margin: ($base-spacing) 0 0;
	padding: ($base-spacing) / 2 $base-spacing;
	border-radius: $base-border-radius;
	width: auto;
	max-width: 100%;
	display: none;

	a {
		color: c(info);
	}
}

.form-element .input-note.visible-always {
	visibility: visible;
	opacity: 1;
	@include inline-block();
}

// Set notes to visible when focussing (and .input-note has a visible-on-focus helper class)

.form-element input:focus + .input-note.visible-on-focus,
.form-element textarea:focus + .input-note.visible-on-focus {
	visibility: visible;
	opacity: 1;
	@include inline-block();
}

html.ie8 .custom-select {
	@include inline-block();
}

html.ie8 .select-text {
	display: none !important;
}
