.page-section--title {
	text-align: center;
}

.page-section--title.background-contrast {

	.page-section__title {
		color: c(onstuimig);

		a {
			color: c(dark);
		}

		a:hover {
			color: c(onstuimig);
			box-shadow: inset 0 -2px 0 0 c(onstuimig);
		}
	}

	.page-section__desc {
		color: c(dark);

		a {
			color: c(onstuimig);
		}

		a:hover {
			color: c(onstuimig);
			box-shadow: inset 0 -2px 0 0 c(onstuimig);
		}
	}
}

.page-section--title.background-onstuimig {

	.page-section__title {
		color: c(contrast);

		a {
			color: c(contrast);
		}

		a:hover {
			color: c(dark);
			box-shadow: inset 0 -2px 0 0 c(dark);
		}
	}

	.page-section__desc {
		color: c(dark);

		a {
			color: c(contrast);
		}

		a:hover {
			color: c(dark);
			box-shadow: inset 0 -2px 0 0 c(dark);
		}
	}
}

.page-section--title.background-dark {

	.page-section__title {
		color: c(contrast);

		a {
			color: c(onstuimig);
		}

		a:hover {
			color: c(contrast);
			box-shadow: inset 0 -2px 0 0 c(contrast);
		}
	}

	.page-section__desc {
		color: c(onstuimig);

		a {
			color: c(contrast);
		}

		a:hover {
			color: c(onstuimig);
			box-shadow: inset 0 -2px 0 0 c(onstuimig);
		}
	}
}