.page-section--icon {
	text-align: center;
}

.page-section--icon.background-contrast .svg-icon {
	color: c(onstuimig);
}

.page-section--icon.background-onstuimig .svg-icon {
	color: c(contrast);
}

.page-section--icon.background-dark .svg-icon {
	color: c(contrast);
}