.page-section--image {
	.responsive-image {
		margin-left: auto;
		margin-right: auto;
		margin-top: $base-spacing;
	}

	.responsive-image-holder > img,
	.responsive-image-holder noscript > img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		max-width: 100%;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	.responsive-image.is-loaded .responsive-image-holder > img,
	.responsive-image.no-lazy > img,
	.responsive-image .responsive-image-holder noscript > img {
		-webkit-animation: fadeIn .5s both;
		        animation: fadeIn .5s both;
	}

	.responsive-image.is-loaded .responsive-image-holder img {
		margin-left: auto;
		margin-right: auto;
	}

	.responsive-image-holder {
		position: relative;
	}
}