.page-section--text {
	text-align: left;

	article p:first-of-type {
		margin-top: 0;
	}

	article p:last-of-type {
		margin-bottom: 0;
	}

	article p {
		@include font(m);
		padding-left: 100px;
		padding-right: 100px;
		line-height: 1.4;

		@include breakpoint(tablet) {
			padding-left: $base-spacing * 2;
			padding-right: $base-spacing * 2;
		}

		@include breakpoint(mobile) {
			padding-left: $base-spacing / 2;
			padding-right: $base-spacing / 2;
		}

		a {
			text-decoration: none;
			transition: color .28s ease;
		}
	}
}

.page-section.page-section--text {
	padding-top: $base-spacing * 2;
	padding-bottom: $base-spacing * 4;

	@include breakpoint(desktop-small) {
		padding-top: $base-spacing;
		padding-bottom: $base-spacing * 2;
	}
}

.page-section.page-section--text + .page-section.page-section--text {
	margin-top: -$base-spacing * 2;

	@include breakpoint(desktop-small) {
		margin-top: -#{round($base-spacing / 1.8)};
	}
}

.page-section--text article.intro p {
	@include font-bold;
}

.page-section--text.background-contrast p {
	color: c(dark);

	a {
		color: c(onstuimig);
	}

	a:hover {
		color: c(onstuimig);
		box-shadow: inset 0 -2px 0 0 c(onstuimig);
	}
}

.page-section--text.background-onstuimig p {
	color: c(contrast);

	a {
		color: c(dark);
	}

	a:hover {
		color: c(contrast);
		box-shadow: inset 0 -2px 0 0 c(comtrast);
	}
}

.page-section--text.background-dark p {
	color: c(contrast);

	a {
		color: c(onstuimig);
	}

	a:hover {
		color: c(contrast);
		box-shadow: inset 0 -2px 0 0 c(comtrast);
	}
}