.page-section--carousel,
.page-section.page-header {
	padding-top: 140px;

	@include breakpoint(desktop-huge) {
		padding-top: 100px;
	}

	@include breakpoint(desktop-large) {
		padding-top: 80px;
	}

	@include breakpoint(small) {
		padding-top: 70px;
	}
}

.page-section--carousel {
	position: relative;
	background: c(onstuimig);
	text-align: center;
	//overflow: hidden;
	text-align: center;
	padding-bottom: 0;
}

.page-section--carousel.background-contrast {
	.page-section__title,
	.svg-icon {
		color: c(onstuimig);
	}

	.page-section__desc {
		color: c(dark);
	}

	.project .inner .responsive-image.js {
		background: c(contrast);
	}
}

.page-section--carousel.background-dark {
	.page-section__title,
	.svg-icon {
		color: c(contrast);
	}

	.page-section__desc {
		color: c(onstuimig);
	}

	.project .inner .responsive-image.js {
		background: c(dark);
	}
}

.page-section--carousel.background-onstuimig {
	.page-section__title,
	.svg-icon {
		color: c(contrast);
	}

	.page-section__desc {
		color: c(dark);
	}

	.project .inner .responsive-image.js {
		background: c(onstuimig);
	}
}

.page-section--carousel header {
	line-height: 1;
	margin: $base-spacing * 2 0 $base-spacing * 5;

	@include breakpoint(desktop-small) {
		margin: $base-spacing * 2 0 $base-spacing * 2;
	}
}