.page-section--button {
	text-align: center;
}

.page-section--button.background-contrast .big-button {
	color: c(onstuimig);
	border-color: c(onstuimig);
	background: c(contrast);

	&:hover {
		background: c(onstuimig);
		color: c(contrast);
		border-color: c(onstuimig);
	}
}

.page-section--button.background-onstuimig .big-button {
	color: c(contrast);
	border-color: c(contrast);
	background: transparent;

	&:hover {
		background: c(contrast);
		color: c(onstuimig);
		border-color: c(contrast);
	}
}

.page-section--button.background-dark .big-button {
	color: c(contrast);
	border-color: c(contrast);
	background: transparent;

	&:hover {
		background: c(contrast);
		color: c(dark);
		border-color: c(contrast);
	}
}