.page-section {
	padding-top: $base-spacing * 4;
	padding-bottom: $base-spacing * 4;

	@include breakpoint(desktop-small) {
		padding-top: $base-spacing * 2;
		padding-bottom: $base-spacing * 2;
	}
}

.page-section__title,
.page-section__desc {
	@include font-bold;
	display: block;
	margin: 0;
	line-height: 1.14;
	text-align: center;
}

.page-section__title {
	@include font(huge);
}

.page-section__desc {
	@include font(xl);
	margin-top: -6px;

	@include breakpoint(desktop-large) {
		margin-top: 0;
	}
}

.page-section__header {
	position: relative;
	text-align: center;

	.svg-icon {
		margin-bottom: $base-spacing * 2;

		@include breakpoint(desktop-small) {
			margin-bottom: $base-spacing;
		}

		@include breakpoint(mobile) {
			margin-bottom: $base-spacing / 2;
		}
	}
}

.page-section.background-contrast + .page-section.background-contrast,
.page-section.background-dark + .page-section.background-dark,
.page-section.background-onstuimig + .page-section.background-onstuimig {
	padding-top: 0;
}

.page-section--icon.background-contrast + .page-section.background-contrast,
.page-section--icon.background-dark + .page-section.background-dark,
.page-section--icon.background-onstuimig + .page-section.background-onstuimig {
	margin-top: -$base-spacing * 4;

	@include breakpoint(desktop-small) {
		margin-top: -#{round($base-spacing * 2)};
	}
}
