.page-section--footer.background-contrast {
	.footer-links li a {
		color: c(dark);

		&:hover {
			color: c(onstuimig);
			box-shadow: inset 0 -2px 0 0 c(onstuimig);
		}
	}
}

.page-section--footer.background-dark {
	.footer-links li a {
		color: c(contrast);

		&:hover {
			color: c(onstuimig);
			box-shadow: inset 0 -2px 0 0 c(onstuimig);
		}
	}
}

.page-section--footer.background-onstuimig {
	.footer-links li a {
		color: c(contrast);

		&:hover {
			color: c(dark);
			box-shadow: inset 0 -2px 0 0 c(dark);
		}
	}
}