.page-section--promo {
	min-height: 65vh;
	display: flex;
	align-items: center;
	position: relative;
	text-align: center;
}

.page-section--promo.background-contrast {

	.svg-icon {
		color: c(onstuimig);
	}

	.article--intro {
		color: #000;

		a {
			color: c(onstuimig);
		}

		a:hover {
			color: c(dark);
			box-shadow: inset 0 -2px 0 0 c(dark);
		}
	}

	.page-section__title {
		color: c(onstuimig);

		a {
			color: c(dark);
		}

		a:hover {
			color: c(onstuimig);
			box-shadow: inset 0 -2px 0 0 c(onstuimig);
		}
	}

	.page-section__desc {
		color: c(dark);

		a {
			color: c(onstuimig);
		}

		a:hover {
			color: c(onstuimig);
			box-shadow: inset 0 -2px 0 0 c(onstuimig);
		}
	}
}

.page-section--promo.background-onstuimig {

	.svg-icon {
		color: c(contrast);
	}

	.page-section__title {
		color: c(contrast);

		a {
			color: c(contrast);
		}

		a:hover {
			color: c(dark);
			box-shadow: inset 0 -2px 0 0 c(dark);
		}
	}

	.page-section__desc {
		color: c(dark);

		a {
			color: c(contrast);
		}

		a:hover {
			color: c(dark);
			box-shadow: inset 0 -2px 0 0 c(dark);
		}
	}
}

.page-section--promo.background-dark {

	.svg-icon {
		color: c(contrast);
	}

	.page-section__title {
		color: c(contrast);

		a {
			color: c(onstuimig);
		}

		a:hover {
			color: c(contrast);
			box-shadow: inset 0 -2px 0 0 c(contrast);
		}
	}

	.page-section__desc {
		color: c(onstuimig);

		a {
			color: c(contrast);
		}

		a:hover {
			color: c(onstuimig);
			box-shadow: inset 0 -2px 0 0 c(onstuimig);
		}
	}
}

.page-section--promo {
	min-height: 56.25vw;
	text-align: center;
	background: c(onstuimig);

	@include breakpoint(small) {
		max-height: inherit;
	}

	.article--intro {
		color: #fff;
		@include font(m);
		padding-left: 100px;
		padding-right: 100px;
		line-height: 1.4;
		@include font-bold;

		a {
			color: #fff;
			text-decoration: none;
			box-shadow: inset 0 -2px 0 0 c(contrast);

			&:hover {
				color: c(dark);
				box-shadow: inset 0 -2px 0 0 c(dark);
			}
		}

		@include breakpoint(tablet) {
			padding-left: $base-spacing * 2;
			padding-right: $base-spacing * 2;
		}

		@include breakpoint(mobile) {
			padding-left: $base-spacing / 2;
			padding-right: $base-spacing / 2;
		}
	}
}

.page-section--promo.background-visual {
	background-color: c(onstuimig);

	.page-section__title,
	.svg-icon {
		color: #fff;
	}

	.page-section__title, .page-section__desc {
		a {
			box-shadow: inset 0 -2px 0 0 c(contrast);

			&:hover {
				color: c(dark);
				box-shadow: inset 0 -2px 0 0 c(dark);
			}
		}
	}

	.page-section__title a {
		color: #fff;
	}

	.page-section__desc {
		color: rgba(#fff, .5);

		a {
			color: rgba(#fff, .5);

			&:hover {
				color: c(contrast);
				box-shadow: inset 0 -2px 0 0 c(contrast);
			}
		}
	}

	.cover-image {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity .45s ease-in-out;

		&:after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: "";
			pointer-events: none;
			background: rgba(c(onstuimig), .5);

		}

		&.is-loaded {
			opacity: 1;
		}
	}
}

html.mix-blend-mode .page-section--promo .cover-image:after {
	background-color: c(onstuimig);
	mix-blend-mode: difference;
}