.page-section--three-columns.background-onstuimig {
	.page-section__title,
	.svg-icon,
	.summary-box__content .title,
	.summary-box__content p {
		color: #fff;
	}

	.summary-box__content p a {
		color: #000;

		&:hover {
			color: #fff;
			box-shadow: inset 0 -2px 0 0 #fff;
		}
	}
}

.page-section--three-columns.background-contrast {
	.page-section__title,
	.svg-icon {
		color: c(onstuimig);
	}

	.summary-box__content .title,
	.summary-box__content p {
		color: #000;
	}


	.summary-box__content p a {
		color: c(onstuimig);

		&:hover {
			box-shadow: inset 0 -2px 0 0 c(onstuimig);
		}
	}
}

.page-section--three-columns.background-dark {
	.page-section__title,
	.svg-icon {
		color: #fff;
	}

	.page-section__desc {
		color: c(onstuimig);
	}

	.summary-box__content .title,
	.summary-box__content p {
		color: #fff;
	}


	.summary-box__content p a {
		color: c(onstuimig);

		&:hover {
			box-shadow: inset 0 -2px 0 0 c(onstuimig);
		}
	}
}