.projects-switcher {
	font-size: 0;
	white-space: nowrap; // This fixes the faulty lazy load responsive images
	position: relative;
	//max-width: 2600px;
	margin-left: auto;
	margin-right: auto;

	.project.is-selected .project__meta {
		opacity: 1;

		// li {
		// 	transform: scale(1);
		// }
	}

	.project.prev-1 .inner {
		transform: translateX(250px) translateY(90px) rotateZ(-5deg) scale(0.8);
		opacity: .5;
		z-index: -1;

		@include breakpoint(desktop-huge) {
			transform: translateX(50px) translateY(150px) rotateZ(-7deg) scale(0.8);
		}

		@include breakpoint(desktop-large) {
			transform: translateX(50px) translateY(80px) rotateZ(-5deg) scale(0.8);
		}
	}

	.project.prev-2 .inner {
		transform: translateX(550px) translateY(200px) rotateZ(-10deg) scale(0.8);
		opacity: .3;
		z-index: -2;
		opacity: 0;

		@include breakpoint(desktop-large) {
			opacity: 0;
		}
	}

	.project.prev-3 .inner {
		transform: translateX(800px) translateY(280px) rotateZ(-10deg) scale(0.8);
		opacity: .1;
		z-index: -5;
		opacity: 0;

		@include breakpoint(desktop-large) {
			opacity: 0;
		}
	}

	.project.next-1 .inner {
		transform: translateX(-250px) translateY(90px) rotateZ(5deg) scale(0.8);
		opacity: .5;
		z-index: -1;

		@include breakpoint(desktop-huge) {
			transform: translateX(-50px) translateY(150px) rotateZ(7deg) scale(0.8);
		}

		@include breakpoint(desktop-large) {
			transform: translateX(-50px) translateY(80px) rotateZ(5deg) scale(0.8);
		}
	}

	.project.next-2 .inner {
		transform: translateX(-550px) translateY(200px) rotateZ(10deg) scale(0.8);
		opacity: .3;
		z-index: -2;
		opacity: 0;

		@include breakpoint(desktop-large) {
			opacity: 0;
			transform: translateX(-350px) translateY(200px) rotateZ(10deg) scale(0.8);
		}
	}

	.project.next-3 .inner {
		transform: translateX(-800px) translateY(280px) rotateZ(10deg) scale(0.8);
		opacity: .3;
		z-index: -2;
		opacity: 0;

		@include breakpoint(desktop-large) {
			opacity: 0;
		}
	}

	.project .inner {
		transition: opacity .39s ease, transform .49s ease,-webkit-transform .49s ease;
		overflow: hidden;
	}

	.project .inner {
		transform: none;
		position: relative;
		width: 100%;
		padding-bottom: 87.5%;
	}

	.project.active .inner {
		transform: none;
	}

	.project.active {
		//z-index: 20;
	}

	&.no-animate .project .inner {
		transition: none;
	}

	&.no-animate .project .inner .project__meta {
		transition: none;
	}

	.project .inner .responsive-image.scroller {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: auto;
		transition: transform 200ms ease-out;

		img {
			position: relative;
			top: 0;
			left: 0;
			max-width: 100%;
			height: auto;
			opacity: 0;
			display: block;
		}

		&:after {
			display: none;
		}
	}

	.project.is-selected .inner {
		overflow: inherit;
	}

	.project.is-selected .inner .scroller {
		display: block;
		transition: none;
	}
}

.projects-switcher .project {
	width: 920px;
	padding-left: 16px; // 2px extra for box shadows
	padding-right: 16px; // 2px extra for box shadows
	@include inline-block();
	font-size: 16px;
	white-space: normal;
	position: relative;

	@include breakpoint(desktop-huge) {
		width: 840px;
	}

	@include breakpoint(desktop-large) {
		width: 620px;
	}

	@include breakpoint(desktop-small) {
		width: 520px;
	}

	@include breakpoint(tablet) {
		width: 375px;
	}

	@include breakpoint(small) {
		width: 60%;
	}

	@include breakpoint(mobile) {
		width: 80%;
	}

	.project__meta {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		bottom: 30px;
		left: 50%;
		width: 80vw;
		z-index: 20;
		-webkit-backface-visibility: hidden;
		transform: translateX(-50%);
		left: 50%;
		opacity: 0;
		transition: opacity .49s ease-in;
		transition-delay: 200ms;

		@include breakpoint(mobile) {
			bottom: $base-spacing;
		}

		li {
			display: block;
			text-align: center;
			color: #fff;
			@include font(l);
			//transition: transform .39s ease;
			//transform: scale(0);
			//transition-delay: 100ms;
		}

		.title {
			color: c(onstuimig);
			@include font(xl);
		}

		.job {
			color: #fff;
		}
	}

	img {
		//margin: 0 auto;
	}
}
