.column.summary-box {
	@include breakpoint(tablet) {
		display: flex;
		align-items: center;

		& + .column.summary-box {
			margin-top: $base-spacing;
		}

		.responsive-image {
			flex: 0 1 #{(100% / 3)};
		}

		.summary-box__content {
			margin-top: $base-spacing;
			flex: 1 0 0px;
			padding-left: $base-spacing;
			text-align: left;
		}
	}

	@include breakpoint(mobile) {
		display: block;
		
		.summary-box__content {
			padding-left: 0;
			text-align: center;
		}
	}
}

.summary-box__content {
	margin-top: $base-spacing * 3;
	@include font(m);
	text-align: center;

	@include breakpoint(desktop-large) {
		margin-top: $base-spacing * 2;
	}

	.title {
		margin: 0 0 $base-spacing / 2;
		@include font-bold;
	}

	p {
		line-height: 1.4;
		margin: 0 0 $base-spacing;
	}

	p a {
		text-decoration: none;
		color: c(onstuimig);
		transition: $base-transition;
	}

	p a:hover {
  		 box-shadow: inset 0 -2px 0 0 c(onstuimig);
	}
}
