@charset "UTF-8";
/*!
 * BRUUT™ Framework - Kickstart
 * @version: 2.7
 * @copyright: Onstuimig
 * @CoreKit: 2.x
 * @author: Onstuimig Interactieve Communicatie - onstuimig.nl
 * @preserve
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?270j4u");
  src: url("../fonts/icomoon.eot?#iefix270j4u") format("embedded-opentype"), url("../fonts/icomoon.woff?270j4u") format("woff"), url("../fonts/icomoon.ttf?270j4u") format("truetype"), url("../fonts/icomoon.svg?270j4u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }
@font-face {
  font-family: 'Nitti Grotesk Bold';
  src: url("../fonts/nittigrotesk-bold-v20-webfont.eot");
  src: url("../fonts/nittigrotesk-bold-v20-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nittigrotesk-bold-v20-webfont.woff2") format("woff2"), url("../fonts/nittigrotesk-bold-v20-webfont.woff") format("woff"), url("../fonts/nittigrotesk-bold-v20-webfont.ttf") format("truetype"), url("../fonts/nittigrotesk-bold-v20-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Nitti Grotesk Regular';
  src: url("../fonts/nittigrotesk-normal-v20-webfont.eot");
  src: url("../fonts/nittigrotesk-normal-v20-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nittigrotesk-normal-v20-webfont.woff2") format("woff2"), url("../fonts/nittigrotesk-normal-v20-webfont.woff") format("woff"), url("../fonts/nittigrotesk-normal-v20-webfont.ttf") format("truetype"), url("../fonts/nittigrotesk-normal-v20-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Nitti Grotesk Light';
  src: url("../fonts/nittigrotesk-light-v20-webfont.eot");
  src: url("../fonts/nittigrotesk-light-v20-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nittigrotesk-light-v20-webfont.woff2") format("woff2"), url("../fonts/nittigrotesk-light-v20-webfont.woff") format("woff"), url("../fonts/nittigrotesk-light-v20-webfont.ttf") format("truetype"), url("../fonts/nittigrotesk-light-v20-webfont.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
 * @kit: CoreKit
 * @version: 2.6
 * @latest-update: Validation
 * @project: Bruut Framework 2.x
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/* CSSTidy 1.5.2: Mon, 23 May 2016 14:27:20 +0000 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details,
figcaption, figure, footer, header, main,
menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"],
[type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
body, html {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  height: 100%; }
  body.twig-is-parsing {
    visibility: hidden; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  html.debug *, html.debug *:after, html.debug *:before {
    outline: 1px solid red; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.responsive-embed {
  position: relative; }
  .responsive-embed .responsive-embed-item,
  .responsive-embed iframe,
  .responsive-embed embed,
  .responsive-embed object,
  .responsive-embed video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.size-huge {
  font-size: 112px; }
  @media screen and (max-width: 1650px) {
    .size-huge {
      font-size: 89.6px; } }
  @media screen and (max-width: 1200px) {
    .size-huge {
      font-size: 67.2px; } }
  @media screen and (max-width: 767px) {
    .size-huge {
      font-size: 44.8px; } }
  @media screen and (max-width: 480px) {
    .size-huge {
      font-size: 33.6px; } }

.size-xl {
  font-size: 72px; }
  @media screen and (max-width: 1650px) {
    .size-xl {
      font-size: 57.6px; } }
  @media screen and (max-width: 1200px) {
    .size-xl {
      font-size: 43.2px; } }
  @media screen and (max-width: 767px) {
    .size-xl {
      font-size: 28.8px; } }
  @media screen and (max-width: 480px) {
    .size-xl {
      font-size: 21.6px; } }

.size-l {
  font-size: 48px; }
  @media screen and (max-width: 1650px) {
    .size-l {
      font-size: 38.4px; } }
  @media screen and (max-width: 1200px) {
    .size-l {
      font-size: 28.8px; } }
  @media screen and (max-width: 767px) {
    .size-l {
      font-size: 19.2px; } }
  @media screen and (max-width: 480px) {
    .size-l {
      font-size: 14.4px; } }

.size-m {
  font-size: 36px; }
  @media screen and (max-width: 1650px) {
    .size-m {
      font-size: 28.8px; } }
  @media screen and (max-width: 1200px) {
    .size-m {
      font-size: 21.6px; } }
  @media screen and (max-width: 767px) {
    .size-m {
      font-size: 18px; } }

.size-text-input {
  font-size: 16px; }

.size-heading-xl {
  font-size: 35px;
  line-height: 1.01; }

.size-heading-page-entry {
  font-size: 20px;
  line-height: 1.2; }

.size-heading-l {
  font-size: 25px;
  line-height: 1.2; }

.size-standard-text {
  font-size: 15px;
  line-height: 1.5; }

.icon--icon-name:before {
  font-family: "icomoon";
  content: "special-characterr"; }

i {
  position: relative;
  display: inline-block;
  text-transform: none;
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "icomoon";
  line-height: 1;
  speak: none; }

html .color-dark {
  color: #000; }

html .background-dark {
  background-color: #000; }

html .border-dark {
  border-color: #000; }

html .color-onstuimig {
  color: #f80f48; }

html .background-onstuimig {
  background-color: #f80f48; }

html .border-onstuimig {
  border-color: #f80f48; }

html .color-contrast {
  color: #fff; }

html .background-contrast {
  background-color: #fff; }

html .border-contrast {
  border-color: #fff; }

.clearfix {
  display: block; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.round {
  border-radius: 50%; }

.radius {
  border-radius: 4px; }

.block-center {
  margin: 0 auto; }

.responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

html.ie8 .visually-hidden {
  display: none !important;
  *display: none !important; }

.column {
  position: relative;
  float: left; }

.grid {
  position: relative;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1399px;
  width: 100%; }
  .grid:before, .grid:after {
    content: "";
    display: table; }
  .grid:after {
    clear: both; }
  @media screen and (max-width: 1650px) {
    .grid {
      max-width: 1200px; } }
  @media screen and (max-width: 1200px) {
    .grid {
      max-width: 1023px; } }
  @media screen and (max-width: 1023px) {
    .grid {
      max-width: 768px; } }

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px; }
  .row-flex .column-flex {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }

.row-flex {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.column-flex.grow {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.flex-x-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-x-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flex-x-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-x-space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.flex-x-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-y-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start; }

.flex-y-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end; }

.flex-y-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.flex-y-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch; }

.flex-y-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
              -ms-grid-row-align: baseline;
          align-items: baseline; }

.row-inline {
  margin-right: -8px;
  margin-left: -8px; }
  .row-inline:before, .row-inline:after {
    content: "";
    display: table; }
  .row-inline:after {
    clear: both; }

.row-inline > .column {
  width: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  vertical-align: top;
  float: none;
  font-size: 16px;
  font-size: 1.6rem;
  min-height: 1px; }

.row {
  margin-right: -8px;
  margin-left: -8px; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.column {
  padding-right: 8px;
  padding-left: 8px;
  width: 100%; }

.column-flex.auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

.column.full {
  width: 100%; }

.column-flex.full {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%; }

.column.two-third {
  width: 66.6666667%; }

.column-flex.two-third {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 66.6666667%; }

.column.half {
  width: 50%; }

.column-flex.half {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 50%; }

.column.third {
  width: 33.3333332%; }

.column-flex.third {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 33.3333332%; }

.column.fourth {
  width: 25%; }

.column-flex.fourth {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 25%; }

.column.fifth {
  width: 20%; }

.column-flex.fifth {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 20%; }

.column.sixth {
  width: 16.6666667%; }

.column-flex.sixth {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 16.6666667%; }

@media screen and (max-width: 1920px) {
  .column.full-desktop-huge {
    width: 100%; }

  .row-flex > .column-flex.full-desktop-huge {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

  .column.two-third-desktop-huge {
    width: 66.6666667%; }

  .row-flex > .column-flex.two-third-desktop-huge {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 66.6666667%; }

  .column.half-desktop-huge {
    width: 50%; }

  .row-flex > .column-flex.half-desktop-huge {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 50%; }

  .column.third-desktop-huge {
    width: 33.3333332%; }

  .row-flex > .column-flex.third-desktop-huge {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 33.3333332%; }

  .column.fourth-desktop-huge {
    width: 25%; }

  .row-flex > .column-flex.fourth-desktop-huge {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 25%; }

  .column.fifth-desktop-huge {
    width: 20%; }

  .row-flex > .column-flex.fifth-desktop-huge {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 20%; }

  .column.sixth-desktop-huge {
    width: 16.6666667%; }

  .row-flex > .column-flex.sixth-desktop-huge {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 16.6666667%; } }
@media screen and (max-width: 1920px) {
  .column-flex.auto-desktop-huge {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; } }
@media screen and (max-width: 1920px) {
  .column-flex.grow-desktop-huge {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }
@media screen and (max-width: 1650px) {
  .column.full-desktop-large {
    width: 100%; }

  .row-flex > .column-flex.full-desktop-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

  .column.two-third-desktop-large {
    width: 66.6666667%; }

  .row-flex > .column-flex.two-third-desktop-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 66.6666667%; }

  .column.half-desktop-large {
    width: 50%; }

  .row-flex > .column-flex.half-desktop-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 50%; }

  .column.third-desktop-large {
    width: 33.3333332%; }

  .row-flex > .column-flex.third-desktop-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 33.3333332%; }

  .column.fourth-desktop-large {
    width: 25%; }

  .row-flex > .column-flex.fourth-desktop-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 25%; }

  .column.fifth-desktop-large {
    width: 20%; }

  .row-flex > .column-flex.fifth-desktop-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 20%; }

  .column.sixth-desktop-large {
    width: 16.6666667%; }

  .row-flex > .column-flex.sixth-desktop-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 16.6666667%; } }
@media screen and (max-width: 1650px) {
  .column-flex.auto-desktop-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; } }
@media screen and (max-width: 1650px) {
  .column-flex.grow-desktop-large {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }
@media screen and (max-width: 1200px) {
  .column.full-desktop-small {
    width: 100%; }

  .row-flex > .column-flex.full-desktop-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

  .column.two-third-desktop-small {
    width: 66.6666667%; }

  .row-flex > .column-flex.two-third-desktop-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 66.6666667%; }

  .column.half-desktop-small {
    width: 50%; }

  .row-flex > .column-flex.half-desktop-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 50%; }

  .column.third-desktop-small {
    width: 33.3333332%; }

  .row-flex > .column-flex.third-desktop-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 33.3333332%; }

  .column.fourth-desktop-small {
    width: 25%; }

  .row-flex > .column-flex.fourth-desktop-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 25%; }

  .column.fifth-desktop-small {
    width: 20%; }

  .row-flex > .column-flex.fifth-desktop-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 20%; }

  .column.sixth-desktop-small {
    width: 16.6666667%; }

  .row-flex > .column-flex.sixth-desktop-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 16.6666667%; } }
@media screen and (max-width: 1200px) {
  .column-flex.auto-desktop-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; } }
@media screen and (max-width: 1200px) {
  .column-flex.grow-desktop-small {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }
@media screen and (max-width: 1023px) {
  .column.full-tablet {
    width: 100%; }

  .row-flex > .column-flex.full-tablet {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

  .column.two-third-tablet {
    width: 66.6666667%; }

  .row-flex > .column-flex.two-third-tablet {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 66.6666667%; }

  .column.half-tablet {
    width: 50%; }

  .row-flex > .column-flex.half-tablet {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 50%; }

  .column.third-tablet {
    width: 33.3333332%; }

  .row-flex > .column-flex.third-tablet {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 33.3333332%; }

  .column.fourth-tablet {
    width: 25%; }

  .row-flex > .column-flex.fourth-tablet {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 25%; }

  .column.fifth-tablet {
    width: 20%; }

  .row-flex > .column-flex.fifth-tablet {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 20%; }

  .column.sixth-tablet {
    width: 16.6666667%; }

  .row-flex > .column-flex.sixth-tablet {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 16.6666667%; } }
@media screen and (max-width: 1023px) {
  .column-flex.auto-tablet {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; } }
@media screen and (max-width: 1023px) {
  .column-flex.grow-tablet {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }
@media screen and (max-width: 767px) {
  .column.full-small {
    width: 100%; }

  .row-flex > .column-flex.full-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

  .column.two-third-small {
    width: 66.6666667%; }

  .row-flex > .column-flex.two-third-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 66.6666667%; }

  .column.half-small {
    width: 50%; }

  .row-flex > .column-flex.half-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 50%; }

  .column.third-small {
    width: 33.3333332%; }

  .row-flex > .column-flex.third-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 33.3333332%; }

  .column.fourth-small {
    width: 25%; }

  .row-flex > .column-flex.fourth-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 25%; }

  .column.fifth-small {
    width: 20%; }

  .row-flex > .column-flex.fifth-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 20%; }

  .column.sixth-small {
    width: 16.6666667%; }

  .row-flex > .column-flex.sixth-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 16.6666667%; } }
@media screen and (max-width: 767px) {
  .column-flex.auto-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; } }
@media screen and (max-width: 767px) {
  .column-flex.grow-small {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }
@media screen and (max-width: 480px) {
  .column.full-mobile {
    width: 100%; }

  .row-flex > .column-flex.full-mobile {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

  .column.two-third-mobile {
    width: 66.6666667%; }

  .row-flex > .column-flex.two-third-mobile {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 66.6666667%; }

  .column.half-mobile {
    width: 50%; }

  .row-flex > .column-flex.half-mobile {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 50%; }

  .column.third-mobile {
    width: 33.3333332%; }

  .row-flex > .column-flex.third-mobile {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 33.3333332%; }

  .column.fourth-mobile {
    width: 25%; }

  .row-flex > .column-flex.fourth-mobile {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 25%; }

  .column.fifth-mobile {
    width: 20%; }

  .row-flex > .column-flex.fifth-mobile {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 20%; }

  .column.sixth-mobile {
    width: 16.6666667%; }

  .row-flex > .column-flex.sixth-mobile {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 16.6666667%; } }
@media screen and (max-width: 480px) {
  .column-flex.auto-mobile {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; } }
@media screen and (max-width: 480px) {
  .column-flex.grow-mobile {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }
@media screen and (max-width: 320px) {
  .column.full-mini {
    width: 100%; }

  .row-flex > .column-flex.full-mini {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

  .column.two-third-mini {
    width: 66.6666667%; }

  .row-flex > .column-flex.two-third-mini {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 66.6666667%; }

  .column.half-mini {
    width: 50%; }

  .row-flex > .column-flex.half-mini {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 50%; }

  .column.third-mini {
    width: 33.3333332%; }

  .row-flex > .column-flex.third-mini {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 33.3333332%; }

  .column.fourth-mini {
    width: 25%; }

  .row-flex > .column-flex.fourth-mini {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 25%; }

  .column.fifth-mini {
    width: 20%; }

  .row-flex > .column-flex.fifth-mini {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 20%; }

  .column.sixth-mini {
    width: 16.6666667%; }

  .row-flex > .column-flex.sixth-mini {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 16.6666667%; } }
@media screen and (max-width: 320px) {
  .column-flex.auto-mini {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; } }
@media screen and (max-width: 320px) {
  .column-flex.grow-mini {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }
.row .column-align-middle {
  vertical-align: middle; }

.row .column-align-bottom {
  vertical-align: bottom; }

@media screen and (max-width: 480px) {
  .column:not([class*='-mobile']) {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    left: 0; } }

/*
 * @kit: ImageKit
 * @version: 0.5
 * @project: Bruut Framework 2.0
 */
.cover-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }
  .cover-image[data-bg-position="left bottom"] {
    background-position: left bottom; }
  .cover-image[data-bg-position="center bottom"] {
    background-position: center bottom; }
  .cover-image[data-bg-position="right bottom"] {
    background-position: right bottom; }
  .cover-image[data-bg-position="left center"] {
    background-position: left center; }
  .cover-image[data-bg-position="center center"] {
    background-position: center center; }
  .cover-image[data-bg-position="right center"] {
    background-position: right center; }
  .cover-image[data-bg-position="left top"] {
    background-position: left top; }
  .cover-image[data-bg-position="center top"] {
    background-position: center top; }
  .cover-image[data-bg-position="right top"] {
    background-position: right top; }

.cover-image noscript {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.cover-image--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); }
  .cover-image--mask[data-mask-strength="1"] {
    background: rgba(0, 0, 0, 0.1); }
  .cover-image--mask[data-mask-strength="2"] {
    background: rgba(0, 0, 0, 0.2); }
  .cover-image--mask[data-mask-strength="3"] {
    background: rgba(0, 0, 0, 0.3); }
  .cover-image--mask[data-mask-strength="4"] {
    background: rgba(0, 0, 0, 0.4); }
  .cover-image--mask[data-mask-strength="5"] {
    background: rgba(0, 0, 0, 0.5); }

.responsive-image > img,
.responsive-image noscript > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0; }

.responsive-image {
  position: relative;
  background: #EEE; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.responsive-image.is-loaded > img,
.responsive-image.no-lazy > img,
.responsive-image noscript > img {
  -webkit-animation: fadeIn .5s both;
  animation: fadeIn .5s both; }

.ratio-16x9:before {
  content: '';
  float: left;
  padding-bottom: 56.25%; }
.ratio-16x9:after {
  content: '';
  display: table;
  clear: both; }

.ratio-hero-carousel:before {
  content: '';
  float: left;
  padding-bottom: 87.5%; }
.ratio-hero-carousel:after {
  content: '';
  display: table;
  clear: both; }

.form-element {
  margin-bottom: 32px; }

.input-title {
  display: block;
  margin: 5px 0 15px;
  font-size: 20px;
  font-weight: 400; }

.input-reset, .form-element .input {
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  box-shadow: none;
  border-radius: none;
  border: 0; }

input[type="text"]::ms-clear {
  display: none; }

select::ms-expand {
  display: none; }

textarea {
  resize: vertical; }

.form-element .input {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 8px 16px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  width: 100%;
  border-color: #000; }
  .form-element .input::-webkit-input-placeholder {
    color: #000;
    line-height: normal;
    vertical-align: middle;
    display: inline-block; }
  .form-element .input::-moz-placeholder {
    color: #000;
    line-height: normal;
    vertical-align: middle;
    display: inline-block; }
  .form-element .input:-moz-placeholder {
    color: #000;
    line-height: normal;
    vertical-align: middle;
    display: inline-block; }
  .form-element .input:-ms-input-placeholder {
    color: #000;
    line-height: normal;
    vertical-align: middle;
    display: inline-block; }

.form-element .radio,
.form-element .checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .form-element .radio + label,
  .form-element .checkbox + label {
    position: relative;
    display: inline-block;
    line-height: 1;
    width: auto;
    margin-bottom: 15px;
    padding-right: 16px; }
.form-element .checkbox + label,
.form-element .radio + label {
  padding-left: 35px; }
.form-element .checkbox + label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid;
  display: block;
  left: 0;
  top: 50%;
  margin-top: -10px; }
.form-element .radio + label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid;
  display: block;
  left: 0;
  top: 50%;
  margin-top: -10px;
  border-radius: 50%; }

.custom-select {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle; }
  .custom-select .select-text {
    font-size: 16px;
    font-size: 1.6rem;
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .custom-select:after {
    position: absolute;
    top: -1px;
    right: 0;
    display: block;
    width: 24px;
    height: 36px;
    border-left: none;
    content: '▾';
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    pointer-events: none; }
  .custom-select select {
    font-size: 16px;
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    line-height: 100%;
    opacity: 0;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .custom-select select:focus {
      background: #fff !important;
      color: #000 !important;
      font-size: 16px !important;
      line-height: 1.6 !important; }
      .custom-select select:focus option {
        line-height: 1.8; }

.custom-select {
  margin-bottom: 12px;
  padding: 1px 40px 0 .8em;
  border: 1px solid;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  line-height: 36px; }

.form-element .input-note {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 16px 0 0;
  padding: 8px 16px;
  border-radius: 4px;
  width: auto;
  max-width: 100%;
  display: none; }

.form-element .input-note.visible-always {
  visibility: visible;
  opacity: 1;
  display: inline-block; }

.form-element input:focus + .input-note.visible-on-focus,
.form-element textarea:focus + .input-note.visible-on-focus {
  visibility: visible;
  opacity: 1;
  display: inline-block; }

html.ie8 .custom-select {
  display: inline-block; }

html.ie8 .select-text {
  display: none !important; }

.button-reset, .button, .big-button {
  border: 0;
  box-shadow: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding-left: 0;
  padding-right: 0; }
  .button-reset::-moz-focus-inner, .button::-moz-focus-inner, .big-button::-moz-focus-inner {
    padding: 0;
    border: 0; }

.button-reset, .button, .big-button {
  display: inline-block; }
  html body .button-reset:hover, html body .button:hover, html body .big-button:hover {
    text-decoration: none; }

.button-holder {
  padding: 32px 0 0; }
  .button-holder:before, .button-holder:after {
    content: "";
    display: table; }
  .button-holder:after {
    clear: both; }

.big-button {
  font-size: 48px;
  font-family: "Nitti Grotesk Bold", sans-serif;
  line-height: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-width: 4px;
  border-style: solid;
  border-style: 6px;
  border-radius: 8px;
  padding: 24px 32px; }
  @media screen and (max-width: 1650px) {
    .big-button {
      font-size: 38.4px; } }
  @media screen and (max-width: 1200px) {
    .big-button {
      font-size: 28.8px; } }
  @media screen and (max-width: 767px) {
    .big-button {
      font-size: 19.2px; } }
  @media screen and (max-width: 480px) {
    .big-button {
      font-size: 14.4px; } }
  @media screen and (max-width: 767px) {
    .big-button {
      padding: 16px 24px;
      font-size: 16px;
      border-width: 2px; } }
  .big-button.contrast {
    background: #fff;
    color: #f80f48;
    border-color: #f80f48; }
    .big-button.contrast:hover {
      background: #f80f48;
      color: #fff; }

.media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.media-img {
  margin-right: 16px; }

.media-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Nitti Grotesk Regular", sans-serif; }

main.site-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: currentColor; }

.icon-xl {
  width: 128px;
  height: 128px; }
  @media screen and (max-width: 1650px) {
    .icon-xl {
      width: 96px;
      height: 96px; } }
  @media screen and (max-width: 1200px) {
    .icon-xl {
      width: 64px;
      height: 64px; } }
  @media screen and (max-width: 767px) {
    .icon-xl {
      width: 32px;
      height: 32px; } }

.grid.grid--spacy {
  max-width: 1467px;
  padding-left: 50px;
  padding-right: 50px; }
  @media screen and (max-width: 1650px) {
    .grid.grid--spacy {
      max-width: 1200px;
      padding-left: 16px;
      padding-right: 16px; } }
  @media screen and (max-width: 1200px) {
    .grid.grid--spacy {
      max-width: 1023px; } }
  @media screen and (max-width: 1023px) {
    .grid.grid--spacy {
      max-width: 768px; } }
  .grid.grid--spacy .row {
    margin-left: -49px;
    margin-right: -49px; }
    @media screen and (max-width: 1650px) {
      .grid.grid--spacy .row {
        margin-left: -16px;
        margin-right: -16px; } }
    .grid.grid--spacy .row .column {
      padding-left: 49px;
      padding-right: 49px; }
      @media screen and (max-width: 1650px) {
        .grid.grid--spacy .row .column {
          padding-left: 16px;
          padding-right: 16px; } }

.hero-carousel,
.page-section.page-header {
  padding-top: 140px; }
  @media screen and (max-width: 1920px) {
    .hero-carousel,
    .page-section.page-header {
      padding-top: 100px; } }
  @media screen and (max-width: 1650px) {
    .hero-carousel,
    .page-section.page-header {
      padding-top: 80px; } }
  @media screen and (max-width: 767px) {
    .hero-carousel,
    .page-section.page-header {
      padding-top: 70px; } }

.hero-carousel {
  position: relative;
  background: #f80f48;
  text-align: center;
  text-align: center; }

.hero-carousel header {
  line-height: 1;
  margin: 32px 0 80px; }
  @media screen and (max-width: 1200px) {
    .hero-carousel header {
      margin: 32px 0 32px; } }

.projects-switcher {
  font-size: 0;
  white-space: nowrap;
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  .projects-switcher .project.is-selected .project__meta {
    opacity: 1; }
    .projects-switcher .project.is-selected .project__meta li {
      -webkit-transform: scale(1);
              transform: scale(1); }
  .projects-switcher .project.prev-1 .inner {
    -webkit-transform: translateX(250px) translateY(90px) rotateZ(-5deg) scale(0.8);
            transform: translateX(250px) translateY(90px) rotateZ(-5deg) scale(0.8);
    opacity: .5;
    z-index: -1; }
    @media screen and (max-width: 1920px) {
      .projects-switcher .project.prev-1 .inner {
        -webkit-transform: translateX(50px) translateY(150px) rotateZ(-7deg) scale(0.8);
                transform: translateX(50px) translateY(150px) rotateZ(-7deg) scale(0.8); } }
    @media screen and (max-width: 1650px) {
      .projects-switcher .project.prev-1 .inner {
        -webkit-transform: translateX(50px) translateY(80px) rotateZ(-5deg) scale(0.8);
                transform: translateX(50px) translateY(80px) rotateZ(-5deg) scale(0.8); } }
  .projects-switcher .project.prev-2 .inner {
    -webkit-transform: translateX(550px) translateY(200px) rotateZ(-10deg) scale(0.8);
            transform: translateX(550px) translateY(200px) rotateZ(-10deg) scale(0.8);
    opacity: .3;
    z-index: -2;
    opacity: 0; }
    @media screen and (max-width: 1650px) {
      .projects-switcher .project.prev-2 .inner {
        opacity: 0; } }
  .projects-switcher .project.prev-3 .inner {
    -webkit-transform: translateX(800px) translateY(280px) rotateZ(-10deg) scale(0.8);
            transform: translateX(800px) translateY(280px) rotateZ(-10deg) scale(0.8);
    opacity: .1;
    z-index: -5;
    opacity: 0; }
    @media screen and (max-width: 1650px) {
      .projects-switcher .project.prev-3 .inner {
        opacity: 0; } }
  .projects-switcher .project.next-1 .inner {
    -webkit-transform: translateX(-250px) translateY(90px) rotateZ(5deg) scale(0.8);
            transform: translateX(-250px) translateY(90px) rotateZ(5deg) scale(0.8);
    opacity: .5;
    z-index: -1; }
    @media screen and (max-width: 1920px) {
      .projects-switcher .project.next-1 .inner {
        -webkit-transform: translateX(-50px) translateY(150px) rotateZ(7deg) scale(0.8);
                transform: translateX(-50px) translateY(150px) rotateZ(7deg) scale(0.8); } }
    @media screen and (max-width: 1650px) {
      .projects-switcher .project.next-1 .inner {
        -webkit-transform: translateX(-50px) translateY(80px) rotateZ(5deg) scale(0.8);
                transform: translateX(-50px) translateY(80px) rotateZ(5deg) scale(0.8); } }
  .projects-switcher .project.next-2 .inner {
    -webkit-transform: translateX(-550px) translateY(200px) rotateZ(10deg) scale(0.8);
            transform: translateX(-550px) translateY(200px) rotateZ(10deg) scale(0.8);
    opacity: .3;
    z-index: -2;
    opacity: 0; }
    @media screen and (max-width: 1650px) {
      .projects-switcher .project.next-2 .inner {
        opacity: 0;
        -webkit-transform: translateX(-350px) translateY(200px) rotateZ(10deg) scale(0.8);
                transform: translateX(-350px) translateY(200px) rotateZ(10deg) scale(0.8); } }
  .projects-switcher .project.next-3 .inner {
    -webkit-transform: translateX(-800px) translateY(280px) rotateZ(10deg) scale(0.8);
            transform: translateX(-800px) translateY(280px) rotateZ(10deg) scale(0.8);
    opacity: .3;
    z-index: -2;
    opacity: 0; }
    @media screen and (max-width: 1650px) {
      .projects-switcher .project.next-3 .inner {
        opacity: 0; } }
  .projects-switcher .project .inner {
    transition: opacity .39s ease, transform .49s ease,-webkit-transform .49s ease;
    overflow: hidden; }
  .projects-switcher .project .inner {
    -webkit-transform: none;
            transform: none;
    position: relative;
    width: 100%;
    padding-bottom: 87.5%; }
  .projects-switcher .project.active .inner {
    -webkit-transform: none;
            transform: none; }
  .projects-switcher.no-animate .project .inner {
    -webkit-transition: none;
    transition: none; }
  .projects-switcher.no-animate .project .inner .project__meta {
    -webkit-transition: none;
    transition: none; }
  .projects-switcher .project .inner .responsive-image.js {
    background: #f80f48; }
  .projects-switcher .project .inner .responsive-image.scroller {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out; }
    .projects-switcher .project .inner .responsive-image.scroller img {
      position: relative;
      top: 0;
      left: 0;
      max-width: 100%;
      height: auto;
      opacity: 0;
      display: block; }
    .projects-switcher .project .inner .responsive-image.scroller:after {
      display: none; }
  .projects-switcher .project.is-selected .inner {
    overflow: inherit; }
  .projects-switcher .project.is-selected .inner .scroller {
    display: block;
    -webkit-transition: none;
    transition: none; }
  .projects-switcher .project {
    width: 920px;
    padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
    font-size: 16px;
    white-space: normal;
    position: relative; }
    @media screen and (max-width: 1920px) {
      .projects-switcher .project {
        width: 840px; } }
    @media screen and (max-width: 1650px) {
      .projects-switcher .project {
        width: 620px; } }
    @media screen and (max-width: 1200px) {
      .projects-switcher .project {
        width: 520px; } }
    @media screen and (max-width: 1023px) {
      .projects-switcher .project {
        width: 375px; } }
    @media screen and (max-width: 767px) {
      .projects-switcher .project {
        width: 60%; } }
    @media screen and (max-width: 480px) {
      .projects-switcher .project {
        width: 80%; } }
    .projects-switcher .project .project__meta {
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      bottom: 30px;
      left: 50%;
      width: 80vw;
      z-index: 20;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      left: 50%; }
      @media screen and (max-width: 480px) {
        .projects-switcher .project .project__meta {
          bottom: 16px; } }
      .projects-switcher .project .project__meta li {
        display: block;
        text-align: center;
        color: #fff;
        font-size: 48px; }
        @media screen and (max-width: 1650px) {
          .projects-switcher .project .project__meta li {
            font-size: 38.4px; } }
        @media screen and (max-width: 1200px) {
          .projects-switcher .project .project__meta li {
            font-size: 28.8px; } }
        @media screen and (max-width: 767px) {
          .projects-switcher .project .project__meta li {
            font-size: 19.2px; } }
        @media screen and (max-width: 480px) {
          .projects-switcher .project .project__meta li {
            font-size: 14.4px; } }
      .projects-switcher .project .project__meta .title {
        color: #f80f48;
        font-size: 72px; }
        @media screen and (max-width: 1650px) {
          .projects-switcher .project .project__meta .title {
            font-size: 57.6px; } }
        @media screen and (max-width: 1200px) {
          .projects-switcher .project .project__meta .title {
            font-size: 43.2px; } }
        @media screen and (max-width: 767px) {
          .projects-switcher .project .project__meta .title {
            font-size: 28.8px; } }
        @media screen and (max-width: 480px) {
          .projects-switcher .project .project__meta .title {
            font-size: 21.6px; } }
      .projects-switcher .project .project__meta .job {
        color: #fff; }

.page-section {
  padding-top: 64px;
  padding-bottom: 64px; }
  @media screen and (max-width: 1200px) {
    .page-section {
      padding-top: 32px;
      padding-bottom: 32px; } }

.page-section--color,
.page-section--image {
  min-height: 65vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.article--intro {
  font-size: 36px;
  font-family: "Nitti Grotesk Bold", sans-serif;
  line-height: 1.4; }
  @media screen and (max-width: 1650px) {
    .article--intro {
      font-size: 28.8px; } }
  @media screen and (max-width: 1200px) {
    .article--intro {
      font-size: 21.6px; } }
  @media screen and (max-width: 767px) {
    .article--intro {
      font-size: 18px; } }

article p {
  font-size: 36px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 1.4; }
  @media screen and (max-width: 1650px) {
    article p {
      font-size: 28.8px; } }
  @media screen and (max-width: 1200px) {
    article p {
      font-size: 21.6px; } }
  @media screen and (max-width: 767px) {
    article p {
      font-size: 18px; } }
  @media screen and (max-width: 1023px) {
    article p {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (max-width: 480px) {
    article p {
      padding-left: 8px;
      padding-right: 8px; } }

.page-section--article .page-section__title,
.page-section--article .svg-icon {
  color: #f80f48; }
.page-section--article .button-holder {
  text-align: center;
  margin: 32px 0; }
  @media screen and (max-width: 1200px) {
    .page-section--article .button-holder {
      margin: 16px 0; } }
.page-section--article article {
  margin-top: 64px; }
  @media screen and (max-width: 1200px) {
    .page-section--article article {
      margin-top: 32px; } }
  .page-section--article article .responsive-image {
    margin-bottom: 48px; }
    @media screen and (max-width: 1200px) {
      .page-section--article article .responsive-image {
        margin-bottom: 16px; } }
  .page-section--article article p {
    font-size: 36px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.4; }
    @media screen and (max-width: 1650px) {
      .page-section--article article p {
        font-size: 28.8px; } }
    @media screen and (max-width: 1200px) {
      .page-section--article article p {
        font-size: 21.6px; } }
    @media screen and (max-width: 767px) {
      .page-section--article article p {
        font-size: 18px; } }
    @media screen and (max-width: 1023px) {
      .page-section--article article p {
        padding-left: 32px;
        padding-right: 32px; } }
    @media screen and (max-width: 480px) {
      .page-section--article article p {
        padding-left: 8px;
        padding-right: 8px; } }
  .page-section--article article p a {
    color: #f80f48;
    text-decoration: none; }
    .page-section--article article p a:hover {
      box-shadow: inset 0 -2px 0 0 #f80f48; }

.page-section--image {
  max-height: 80vh;
  height: 56.25vw;
  text-align: center;
  background: #f80f48; }
  @media screen and (max-width: 767px) {
    .page-section--image {
      max-height: inherit; } }
  .page-section--image .page-section__title,
  .page-section--image .svg-icon,
  .page-section--image .summary-box__content .title,
  .page-section--image .summary-box__content p {
    color: #fff; }
  .page-section--image .page-section__desc {
    color: rgba(255, 255, 255, 0.5); }
  .page-section--image .article--intro {
    color: #fff; }

.page-section--image {
  background-color: #f80f48; }
  .page-section--image .cover-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .45s ease-in-out;
    transition: opacity .45s ease-in-out; }
    .page-section--image .cover-image:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      pointer-events: none;
      background: rgba(248, 15, 72, 0.5); }
    .page-section--image .cover-image.is-loaded {
      opacity: 1; }

html.mix-blend-mode .page-section--image .cover-image:after {
  background-color: #f80f48;
  mix-blend-mode: difference; }

.page-section--color.background-onstuimig .page-section__title,
.page-section--color.background-onstuimig .svg-icon,
.page-section--color.background-onstuimig .summary-box__content .title,
.page-section--color.background-onstuimig .summary-box__content p {
  color: #fff; }
.page-section--color.background-onstuimig .summary-box__content p a {
  color: #000; }
  .page-section--color.background-onstuimig .summary-box__content p a:hover {
    color: #fff;
    box-shadow: inset 0 -2px 0 0 #fff; }

.page-section--color.background-contrast .page-section__title,
.page-section--color.background-contrast .svg-icon {
  color: #f80f48; }
.page-section--color.background-contrast .summary-box__content .title,
.page-section--color.background-contrast .summary-box__content p {
  color: #000; }
.page-section--color.background-contrast .summary-box__content p a {
  color: #f80f48; }
  .page-section--color.background-contrast .summary-box__content p a:hover {
    box-shadow: inset 0 -2px 0 0 #f80f48; }

.page-section--color.background-dark .page-section__title,
.page-section--color.background-dark .svg-icon {
  color: #fff; }
.page-section--color.background-dark .page-section__desc {
  color: #f80f48; }
.page-section--color.background-dark .summary-box__content .title,
.page-section--color.background-dark .summary-box__content p {
  color: #fff; }
.page-section--color.background-dark .summary-box__content p a {
  color: #f80f48; }
  .page-section--color.background-dark .summary-box__content p a:hover {
    box-shadow: inset 0 -2px 0 0 #f80f48; }

.page-section__title,
.page-section__desc {
  font-family: "Nitti Grotesk Bold", sans-serif;
  display: block;
  margin: 0;
  line-height: 1.14;
  text-align: center; }

.page-section__title {
  font-size: 112px; }
  @media screen and (max-width: 1650px) {
    .page-section__title {
      font-size: 89.6px; } }
  @media screen and (max-width: 1200px) {
    .page-section__title {
      font-size: 67.2px; } }
  @media screen and (max-width: 767px) {
    .page-section__title {
      font-size: 44.8px; } }
  @media screen and (max-width: 480px) {
    .page-section__title {
      font-size: 33.6px; } }

.page-section__desc {
  font-size: 72px;
  margin-top: -6px; }
  @media screen and (max-width: 1650px) {
    .page-section__desc {
      font-size: 57.6px; } }
  @media screen and (max-width: 1200px) {
    .page-section__desc {
      font-size: 43.2px; } }
  @media screen and (max-width: 767px) {
    .page-section__desc {
      font-size: 28.8px; } }
  @media screen and (max-width: 480px) {
    .page-section__desc {
      font-size: 21.6px; } }
  @media screen and (max-width: 1650px) {
    .page-section__desc {
      margin-top: 0; } }

.page-section__header {
  position: relative;
  text-align: center; }
  .page-section__header + .row, .page-section__header + .article--intro {
    margin-top: 64px; }
    @media screen and (max-width: 1200px) {
      .page-section__header + .row, .page-section__header + .article--intro {
        margin-top: 32px; } }
  .page-section__header .svg-icon {
    margin-bottom: 32px; }
    @media screen and (max-width: 1200px) {
      .page-section__header .svg-icon {
        margin-bottom: 16px; } }
    @media screen and (max-width: 480px) {
      .page-section__header .svg-icon {
        margin-bottom: 8px; } }

@media screen and (max-width: 1023px) {
  .column.summary-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .column.summary-box + .column.summary-box {
      margin-top: 16px; }
    .column.summary-box .responsive-image {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 33.3333333333%;
          -ms-flex: 0 1 33.3333333333%;
              flex: 0 1 33.3333333333%; }
    .column.summary-box .summary-box__content {
      margin-top: 16px;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 0px;
          -ms-flex: 1 0 0px;
              flex: 1 0 0px;
      padding-left: 16px;
      text-align: left; } }
@media screen and (max-width: 480px) {
  .column.summary-box {
    display: block; }
    .column.summary-box .summary-box__content {
      padding-left: 0;
      text-align: center; } }

.summary-box__content {
  margin-top: 48px;
  font-size: 36px;
  text-align: center; }
  @media screen and (max-width: 1650px) {
    .summary-box__content {
      font-size: 28.8px; } }
  @media screen and (max-width: 1200px) {
    .summary-box__content {
      font-size: 21.6px; } }
  @media screen and (max-width: 767px) {
    .summary-box__content {
      font-size: 18px; } }
  @media screen and (max-width: 1650px) {
    .summary-box__content {
      margin-top: 32px; } }
  .summary-box__content .title {
    margin: 0 0 8px;
    font-family: "Nitti Grotesk Bold", sans-serif; }
  .summary-box__content p {
    line-height: 1.4;
    margin: 0 0 16px; }
  .summary-box__content p a {
    text-decoration: none;
    color: #f80f48;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .summary-box__content p a:hover {
    box-shadow: inset 0 -2px 0 0 #f80f48; }

.global-navigation__logo {
  width: 100%;
  max-width: 180px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  pointer-events: all; }
  @media screen and (max-width: 1920px) {
    .global-navigation__logo {
      max-width: 140px; } }

.global-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 16px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  z-index: 30;
  pointer-events: none;
  display: none !important; }
  @media screen and (max-width: 1023px) {
    .global-navigation {
      padding: 16px; } }

.slideout-panel-close-trigger {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);
  display: none;
  z-index: 2; }
  .slideout-open .slideout-panel-close-trigger {
    display: block; }

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none; }

.slideout-panel {
  position: relative;
  z-index: 1;
  background: #fff; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow-x: hidden; }

.slideout-open .slideout-menu {
  display: block; }

.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }
  .flickity-slider:after {
    position: absolute;
    right: 0;
    left: -350%;
    bottom: 0;
    width: 700%;
    height: 50%;
    background: url("../img/gradients/hero-carousel-gradient.png") repeat-x left bottom;
    background-size: auto 100%;
    z-index: 4;
    content: "";
    pointer-events: none;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: #fff; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  filter: alpha(opacity=60);
  /* IE8 */
  opacity: .6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30);
  /* IE8 */
  opacity: .3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25);
  /* IE8 */
  opacity: .25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100);
  /* IE8 */
  opacity: 1; }

.filler {
  background: #999;
  height: 40px;
  margin-bottom: 20px; }
